# We're developing mostly on Mac computers
.DS_Store

*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/git-sonification-code/nbproject/private/

# Some of the data we're using in this program comes from another person's
# research, so we're not committing that data into a public repo before that
# person's research is published
data/